<!doctype html>
<html ng-app="myApp">
<head>

    <style>
        .ng-invalid.ng-dirty {
            border-color: #FA787E;
        }

        .ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>

    <link href="Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <title>Angular JS Demo</title>
</head>
<body class="container-fluid" ng-controller="myController">


    <div class="page-header">
        <h1>Gem Store</h1>
        <my-Example></ my-Example>

    </div>
    <div class="row">
        <div class="col-sm-4" ng-repeat="product in model">
            <div class="panel panel panel-default">
                <div class="panel-heading"><h1>{{product.name}}</h1></div>
                <div><img ng-repeat="image in product.images" ng-src="{{image.thumb}}" /></div>
                <h3 product-price></h3>
                <button ng-show="product.canPurchase" class="btn btn-primary">Add to cart</button>
                <product-panels></product-panels>

            </div>
        </div>
    </div>


    <!--
    <p>
        {{"Hello" + " " + "everybody" | uppercase}}
        I am {{4+2 | currency}} years old.
    </p>
    -->
    <script src="Scripts/jquery-3.1.0.js" type="text/javascript"></script>
    <script src="Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="angular.js"></script>
    <script src="code.js"></script>
    <script src="products.js"></script>
    <script src="myexample.js"></script>
    <script src="Scripts/Services/products-service.js" type="text/javascript"></script>
    <script src="Scripts/Services/gravatarfactory.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
</body>
</html>